[submodule "ctmil/odoo-argentina"]
	path = ctmil/odoo-argentina
	url = git@github.com:ctmil/odoo-argentina.git
	branch = 12.0

[submodule "ctmil/miscellaneous"]
	path = ctmil/miscellaneous
	url = git@github.com:ctmil/miscellaneous.git
	branch = 12.0

[submodule "ctmil/account-payment"]
	path = ctmil/account-payment
	url = git@github.com:ctmil/account-payment.git
	branch = 12.0

[submodule "ctmil/account-financial-tools"]
	path = ctmil/account-financial-tools
	url = git@github.com:ctmil/account-financial-tools.git
	branch = 12.0
